.feed{
      flex: 1.0;
      max-width: 800px !important;
      color: white !important;
      overflow-y: auto;
      background-color: black !important;
}

.feed-header{
      color: white !important;
      overflow-y: auto;
      position: sticky;
      border-bottom: none;
      background-color: black !important;
};

input {
      background-color: black !important;
}

