.sidebar {
      flex: 0.2;
      background-color: black;
}
.twitter-icon{
      padding: 3px;
      
}
.menu-item-name{
      color: white;
}


.menu-item-icon {
      color: white;
}

.sidebar-menu:hover{
      background-color: var(--twitter-color);
      border-radius: 50px;
      color: white;
}

.menu-item :active{
      color: var(--twitter-color);
}

.sidebar-tweet-btn {
      background-color: var(--twitter-color) !important;
      color: white !important;
      border-radius: 50px !important;
      font-weight: 900 !important;
      text-transform: inherit !important;
      text-align: center !important;
      border: none !important;
      padding: 10px 30px 10px 30px !important;
      
}

@media (max-width: 720px) {
      
      .menu-item-name{
            display: none;
      }
      .sidebar{
            max-width: 90px;
      }
      .menu-item-icon{
            font-size: 35px !important;
            
      }
      .sidebar-menu:hover{
            background-color: black;
            border-radius: 50px;
            color: white;
      }
      .menu-item-icon:hover{
            background-color: var(--twitter-color);
            border-radius: 100%;
      }
      .menu-item-icon{
            border-radius: 100%;
            padding: 2px;

      }
      .twitter-icon {
            font-size: 40px !important;
            margin-bottom: -2px;
      }
      .sidebar-tweet-btn{
            display: none !important;
            margin-left: -7px !important;
      }
}
